 body {

    font-family: Tahoma, Arial;
    margin: 0;
    background: #f3f3f3;
    direction: rtl;
}

header {
    background: #454a7b;
    color: white;
    text-align: center;
    padding: 30px;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px;
}

.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0 5px;
}

.card p {
    color: #555;
    padding-bottom: 15px;
}

footer {
    background: #454a7b;
    color: white;
    text-align: center;

    padding: 15px;
}
/* الصورة القابلة للتكبير */
.popup-img {
    cursor: zoom-in;
}

/* نافذة التكبير */
#popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

/* الصورة داخل النافذة */
#popup-image {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 0 30px rgba(0,0,0,0.8);
}

/* زر الإغلاق */
#popup-close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

/* حماية الصور */
.popup-img,
.card img,
#popup-image {
    -webkit-user-drag: none;
    user-drag: none;
    user-select: none;
    pointer-events: none;
}






