body {
   body {
    font-family: Tahoma, Arial;
    margin: 0;
    direction: rtl;
    background: #f5f5f5;
}

header {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

/* حاوية الصورة */
.image-container {
    display: inline-block;
    margin: 10px;
    position: relative;
}

/* الصورة العادية */
.zoomable {
    width: 250px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    pointer-events: none; /* يمنع السحب */
    -webkit-user-drag: none;
    user-select: none;
}

/* طبقة Overlay فوق الصورة لمنع نسخها */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* نافذة التكبير */
.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.lightbox-img {
    max-width: 90%;
    max-height: 90%;
    pointer-events: none; /* لمنع السحب */
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
    font-family: Tahoma, Arial;
    margin: 0;
    background: #f3f3f3;
    direction: rtl;
}

header {
    background: #6b6b87;
    color: white;
    text-align: center;
    padding: 30px;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px;
}

.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0 5px;
}

.card p {
    color: #555;
    padding-bottom: 15px;
}

footer {
    background: #6b6b87;
    color: white;
    text-align: center;

    padding: 15px;


